<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'XHC1TTT7YC',
    apiKey: '19ea0db7754913361d0296867108d498',
    siteId: '5a255018-e5e0-4d7d-91b3-42f80d501695',
    branch: 'main',
    selector: 'div#search',
  });
</script>
